* {
  box-sizing: border-box;
  font-family: 'Spartan', sans-serif;
}

header {
  background-image: url('/images/vineyard-field.jpeg');
  background-repeat: no-repeat;
  height: 90vh;
  background-size: cover;
  color: #fff;
  background-position: 45% 55%;
  position: relative;
}
.btn {
  border-radius: 0;
}
.font-weight-bolder {
  font-weight: bolder;
}
#first-img {
  position: absolute;
  top: -50px;
}
aside {
  height: 15rem;
  width: 70vw;
  background-color: rgba(235, 235, 235, 0.795);
  border-top-left-radius: 5rem;
  border-top-right-radius: 5rem;
  position: absolute;
}
#first-block {
  left: -10rem;
  bottom: -18rem;
}
.symbol {
  width: 100px;
}
.symbol > div {
  width: 60px;
  align-self: center;
  margin-left: 5px;
}
.shadow {
  -webkit-box-shadow: 0 30px 30px -5px rgb(161, 161, 161) !important;
  -moz-box-shadow: 0 30px 30px -5px rgb(161, 161, 161) !important;
  box-shadow: 0 30px 30px -5px rgb(161, 161, 161) !important;
}
#second {
  margin-top: 13rem;
  margin-bottom: 12rem;
}
#second-img {
  position: absolute;
  z-index: 2;
}
#second-block {
  bottom: -12rem;
  left: -10rem;
  width: 60vw;
}
.fourth-img {
  position: absolute;
  top: 5rem;
}

.stripe {
  background: linear-gradient(
    to bottom,
    rgb(175, 140, 96),
    rgb(175, 140, 96) 50%,
    rgba(0, 0, 0, 0) 50%,
    rgba(0, 0, 0, 0)
  );
  background-size: 100% 15px;
  height: 100px;
  width: 200px;
  margin: 50px auto;
  position: absolute;
  z-index: 4;
}
#stripe-1 {
  right: -1.5rem;
  bottom: 5rem;
}
#stripe-2 {
  left: -2rem;
  top: -0.5rem;
}
.text-muted {
  opacity: 0.5;
}
#reservation {
  margin-top: 10rem;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url('/images/cheers.jpeg');
  background-position: center;
  background-size: cover;
  height: 14rem;
}
#events-toggle h5:hover {
  cursor: pointer;
  text-shadow: 2px 2px 5px rgba(0, 0, 3, 0.4);
}
.selected {
  text-shadow: 2px 2px 5px rgba(0, 0, 3, 0.4);
}
footer {
  height: 16rem;
}
@media screen and (max-width: 420px) {
  body p,
  h1 {
    text-align: center;
  }
  header {
    height: 60vh;
  }
  .nav-brand h1 {
    font-size: 1.5rem;
  }
  header:first-child {
    padding-top: 15vh;
    text-align: center;
  }
  header h1.display-4.col-md-12 {
    font-size: 1.4rem;
  }
  .lead {
    font-size: 0.8rem;
  }
  .btn-sm {
    width: 33vw;
    height: 2rem;
    font-size: 0.6rem;
  }
  #first-img {
    left: 2.2rem;
    top: -2rem;
  }
  .column-text {
    padding-top: 25rem;
  }
  .symbol {
    margin: 0 auto 2rem;
  }
  aside,
  .stripe {
    display: none;
  }
  #second {
    margin-top: 5rem;
    margin-bottom: 5rem;
    display: flex;
    flex-direction: column-reverse;
  }
  #second div:nth-of-type(2) {
    display: flex;
    flex-direction: column;
    padding-top: 25rem;
  }

  #second-img {
    top: 0;
    left: 2.2rem;
  }
  #second .symbol {
    margin-top: 5rem;
  }
  #third {
    padding-top: 5rem;
  }
  #third img {
    margin: 2rem 0;
  }
  .item {
    padding-bottom: 2rem;
  }
  .text {
    text-align: center !important;
  }
  #special-events {
    padding-top: 34rem;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
  }
  .fourth-img {
    left: 2.2rem;
  }
  .to-disappear {
    display: none;
  }
  .h5 {
    margin-bottom: 1.5rem;
  }
  .active-1::after,
  .active-2::after,
  .active-3::after {
    content: '';
    position: absolute;
    border-top: 2px solid rgb(175, 140, 96);
    width: 15%;
    height: 0px;
    left: 10.5rem;
  }
  .active-1::after {
    top: 36rem;
  }
  .active-2::after {
    top: 39rem;
  }
  .active-3::after {
    top: 42rem;
  }
  #reservation {
    margin-top: 3rem;
  }
  #reservation div {
    flex-direction: column;
    justify-content: space-evenly !important;
  }
  footer div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  footer p {
    font-size: 0.8rem;
  }
  footer .h1 {
    margin-bottom: 2rem;
  }
  footer {
    height: 50vh;
    padding-top: 3rem;
  }
}

@media screen and (min-width: 421px) and (max-width: 599px) {
  body p,
  h1 {
    text-align: center;
  }
  header {
    height: 60vh;
  }
  .nav-brand h1 {
    font-size: 1.5rem;
  }
  header:first-child {
    padding-top: 15vh;
    text-align: center;
  }
  header h1.display-4.col-md-12 {
    font-size: 1.4rem;
  }
  .lead {
    font-size: 0.8rem;
  }
  .btn-sm {
    width: 33vw;
    height: 2.8rem;
    font-size: 0.6rem;
  }
  #first-img {
    left: 10vw;
    top: -4rem;
  }
  .column-text {
    padding-top: 33rem;
  }
  .symbol {
    margin: 0 auto 2rem;
  }
  aside,
  .stripe {
    display: none;
  }
  #second {
    margin-top: 5rem;
    margin-bottom: 5rem;
    display: flex;
    flex-direction: column-reverse;
  }
  #second div:nth-of-type(2) {
    display: flex;
    flex-direction: column;
    padding-top: 35rem;
  }

  #second-img {
    top: 0;
    left: 10vw;
  }
  #second .symbol {
    margin-top: 5rem;
  }
  #third {
    padding-top: 5rem;
  }
  #third img {
    margin: 2rem 0;
  }
  .item {
    padding-bottom: 2rem;
  }
  .text {
    text-align: center !important;
  }
  #special-events {
    padding-top: 45rem;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
  }
  .fourth-img {
    left: 10vw;
  }
  .to-disappear {
    display: none;
  }
  .h5 {
    margin-bottom: 1.5rem;
  }
  .active-1::after,
  .active-2::after,
  .active-3::after {
    content: '';
    position: absolute;
    border-top: 2px solid rgb(175, 140, 96);
    width: 15%;
    height: 0px;
    left: 14rem;
  }
  .active-1::after {
    top: 47rem;
  }
  .active-2::after {
    top: 50rem;
  }
  .active-3::after {
    top: 53rem;
  }
  #reservation {
    margin-top: 3rem;
  }
  #reservation div {
    flex-direction: column;
    justify-content: space-evenly !important;
  }
  footer div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
  }
  footer p {
    font-size: 0.8rem;
  }
  footer .h1 {
    margin: 0 auto;
    text-align: center;
  }
  footer {
    height: 50vh;
  }
}

@media screen and (min-width: 600px) and (max-width: 767px) {
  /***************** HEADER *************/
  header {
    height: 100vh;
  }
  header:first-child {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 18vh;
  }
  header h1.display-4.col-md-12 {
    font-size: 2.8rem;
    margin-top: 2.5rem;
  }
  header.lead {
    font-size: 1rem;
  }
  .btn-sm {
    width: 30vw;
    height: 4rem;
  }

  /***************** SECTIONS ***************/
  #first,
  #second {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .column-text {
    padding-top: 16rem;
  }
  .symbol {
    margin: 0 auto;
    margin-bottom: 3rem;
  }
  #first-img {
    top: -80px;
    left: 7vw;
  }
  aside {
    height: 18rem;
  }
  #second {
    margin-top: 28rem;
    margin-bottom: 7rem;
  }
  #second-img {
    top: -36rem;
    left: 7vw;
  }
  .stripe {
    height: 75px;
    width: 140px;
  }
  #stripe-1 {
    right: -1.5rem;
    top: -27rem;
  }
  #second-block {
    position: absolute;
    top: -11rem;
    left: 11rem;
    opacity: 0.4;
  }
  #third {
    text-align: center;
    margin: 0 auto;
  }
  .item {
    display: flex;
    flex-direction: row;
    padding-bottom: 2rem;
  }
  .fourth-img {
    left: 7vw;
  }
  #special-events {
    display: flex;
    flex-direction: column-reverse;
    margin-top: 29rem;
  }
  #stripe-2 {
    left: 0;
  }
  #events-toggle {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  #events-toggle h5 {
    font-size: 1rem;
  }
  .to-disappear {
    display: none;
  }
  .active-1::after,
  .active-2::after,
  .active-3::after {
    content: '';
    position: absolute;
    border-top: 2px solid rgb(175, 140, 96);
    width: 11%;
    height: 0px;
  }
  .active-1::after {
    left: 3.5rem;
    top: 1.5rem;
  }
  .active-2::after {
    left: 13.75rem;
    top: 1.5rem;
  }
  .active-3::after {
    left: 25.5rem;
    top: 1.5rem;
  }
  .event-summary {
    margin-top: 3rem;
    text-align: center;
  }
  #reservation {
    margin-top: 3rem;
  }
  #reservation div:first-of-type {
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    justify-content: center !important;
  }
  #reservation div:first-of-type h1 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 2rem;
  }
  footer p {
    font-size: 0.8rem;
  }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  header {
    height: 90vh;
  }
  header h1.display-4.col-md-12 {
    font-size: 2.5rem;
  }
  header.lead {
    font-size: 0.9rem;
  }
  .column-text {
    padding-top: 0;
  }
  .symbol {
    margin: 2rem 0 !important;
    padding-top: 0 !important;
  }
  #second {
    margin-top: 3rem;
    margin-bottom: 6rem;
  }
  .stripe {
    height: 88px;
    width: 160px;
  }
  #stripe-1 {
    bottom: 12rem;
  }
  #second-block {
    bottom: -6rem;
    left: -6rem;
  }
  #third {
    padding: 0 !important;
  }
  #third div:nth-child(2) {
    margin-top: 0 !important;
  }
  .item {
    margin-top: 0 !important;
    padding-bottom: 1rem !important;
  }
  .item img {
    margin-top: 3rem;
  }
  #reservation {
    margin-top: 3rem;
  }
}
